body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
}

h1 {
    line-height: 1;
    margin: 1em 0;
    font-family: "Pridi",serif;
    font-size: 2em;
    color: rgb(88, 46, 145);
    
}

h2 {
    color: rgb(132, 164, 11);
    font-weight: normal;
}

a {
    color: rgb(0, 105, 144);
}

a:hover {
    color: rgb(237, 119, 3);
}
a:active {
    color: inherit;
    background: #ffbf47;
    outline: 2px solid #ffbf47;
}

.content {
    margin: 0 auto;
    max-width: 990px;
}
.main-header h1 {
    margin: 0;
    line-height: 1;
    color: #fff;
    font-size: 4em;
}
.main-header h2 {
    font-size: 2em;
    font-weight: bolder;
    color: #fff;
}
.main-header {
    position: relative;
    height: 450px;
    background-image: url(../images/volunteer_wide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(88, 46, 145);
    background-position: top;
    color: #fff;
}
.main-header header {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    z-index: 2;
}

.main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(88, 46, 145, 0.7);
    z-index: 1;
}

.main-header nav {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 2;  
    font-size: 1.5em;
}
.main-header nav a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
}
.main-header nav a:hover {
    color: #ccc;
}
.main-header nav a:active {
    color: inherit;
    background: #ffbf47;
    outline: 2px solid #ffbf47;
}

.main-header .logo-fleurdelis {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;  
}

.main-body {        
    margin: 40px;
}

.main-footer {
    box-sizing: border-box;
    padding: 10px 30px;
    background-color: rgb(65, 90, 104);
    color: #fff;
    font-size: 0.6em;
}

.cards:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.card {
    float: left;
    text-align: center;
    width: 50%;
}

.center-text {
    text-align: center;
}

.scouts-logo {
    display: inline-block;
    margin: 15px 0;
    width: 100px;
}

@media (max-width: 700px) {
    .main-body {        
        margin: 40px 15px;
    }
    .main-header nav a {
        font-size: 0.8em;
        padding: 10px 10px;
    }
    
    .card {
        float: none;
        width: auto;
    }
    .section-logo {
        height: 60px;
    }
    
}